name: Autodev
on:
  push:
    branches-ignore:
      - dev
  pull_request:
    types: [labeled, unlabeled, opened, closed]

jobs:
  autodev:
    name: Build Dev Branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Autodev
        uses: staffbase/autodev-action@add-labels
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: main
          optimistic: true
          labels: true
          comments: true
